
body{
	background: gray
}
div{
	background:white
}

a{
Height : 90px;
Width: 950px;
Background-color: #20B2AA;
Border-radius : 90px;
Border: none;
Color: white;
padding: 10px;
href="index setelah login.html"

}