.navbar-brand img {
	width: 60px;
}

img {
	width: 100%;
}

.profile-img {
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
}

.profile-img img {
	transform: scale(1.7);
}
.search{
width:300px;
padding:10px 10px 10px 10px;
border-radius: 15px 15px 15px 15px;
border:none;
border:1px solid blue;
font-size:17px;
text-align:center;
margin-top:13px;
}
}

